<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="Controller Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">app/controllers</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
        </exclude>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_USER" value="test"/>
        <env name="DB_PASS" value="test"/>
        <env name="DB_NAME" value="test_db"/>
        <env name="ENCRYPTION_KEY" value="test_encryption_key_32_chars!!"/>
        <env name="GROQ_API_KEY" value="test_groq_key"/>
        <env name="MAIL_USERNAME" value="test@example.com"/>
        <env name="MAIL_PASSWORD" value="test_password"/>
    </php>
</phpunit>

